{% extends 'studentapp/student_base.html' %}
{% load static %}

{% block page_title %}
<title>TOPPROJECTWORLD - Change Student Password </title>
<meta name="description" content="Here Student can change password ">
<meta name="keyword" content="{{keyword.keyward}}">
{% endblock %}
{% block dashboard_content %}
{% for message in messages %}

<p class="alert alert-success">{{message}}</p>
{% endfor %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
            <input  style="font-weight: bolder;font-size: 14px;" required name="old_password" type="password" class="validate ">
            <label class="">Old Password</label>
        </div>

        <div class="input-field col s12">
            <input  style="font-weight: bolder;font-size: 14px;" required name="new_password" type="password" class="validate ">
            <label class="">New Password</label>
        </div>

        <div class="input-field col s12">
            <input  style="font-weight: bolder;font-size: 14px;" required name="confirm_new_password" type="password" class="validate ">
            <label class="">Confirm New Password</label>
        </div>
        

 
    <div class="row">
        <center>
        <div class="input-field col s12">
            
            <i class="waves-effect waves-light btn-large waves-input-wrapper"><input type="submit" class="waves-button-input" value="UPDATE"></i>
        </div>
        </center>
    </div>
</form>

{% endblock %}