{% extends 'userapp/base.html' %}
{% load static %}


{% block page_title %}
<title>Programming Language Tutorial </title>
<meta name="description" content="Here all the Programming Languages tutorials are available in easy language with properly explained example">
<meta name="keyword" content="{{keyword.keyward}}">
{% endblock %}
{% block extra_css %}


{% endblock %}
{% block main_content %}
   

    <!-- DISCOVER MORE -->
    <section>
        <div class="container com-sp pad-bot-10">
            <div class="row">
                <div class="con-title">
                    <h2>Choose Language <span>for Tutorials</span></h2>
                    <p>Here all the tutorials are available in easy language with properly explained example.</p>
                </div>
            </div>
            <div class="row">
                <div class="ed-course">
                    {% for i in subject %}
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in" style="width: 100%; height: 150px;">
                            <a class="course-overlay" href="{% url 'tutorial_select_language' i.id %}">
                                <img src="/media/{{i.thumnail}}" alt="">
                                <span>{{i.name}}</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>


{% endblock %}