{% extends 'adminapp/admin_base.html' %}

{% block content %}

    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
          <h2 class="h5 no-margin-bottom">Add About Us New Item</h2>
        </div>
      </div>
      <!-- Breadcrumb-->
      <div class="container-fluid">
        <center>
        <ul class="breadcrumb">
          
          {% for i in messages %}
          <h4 style="color: green;">{{i}}</h4>
          {% endfor %}
          
        </ul>
        </center>
      </div>
      <section class="no-padding-top">
        <div class="container-fluid">
          <div class="row">
            <!-- Basic Form-->
            <div class="col-lg-12">
              <div class="block">
                <div class="block-body">
                    
                    {% if about %}

                    <form method="POST" enctype="multipart/form-data" action="{% url 'update_about_us_page' about.id %}">
                        {% csrf_token %}
    
                        <div class="form-group">
                          <label class="form-control-label">heading</label>
                          <input type="text" required placeholder="enter name" value="{{about.heading}}" name="heading" class="form-control">
                      </div>
  
                      <div class="form-group">
                        <label class="form-control-label">Description</label>
                        <input type="text" required placeholder="enter Description" value="{{about.description}}" name="description" class="form-control">
                    </div>
  
  
                      <div class="form-group">
                          <label class="form-control-label">Image</label>
                          <input type="file" placeholder="logo" name="logo" class="form-control">
                          <a href="/media/{{about.logo}}" title="logo">
                            <img src="/media/{{about.logo}}" alt="about-logo" width="100px" height="100px">
                          </a>
                      </div>
                    
                        <center>
                        <div class="form-group">       
                          <input type="submit" value="UPDATE ABOUT US ITEM" class="btn btn-primary">
                        </div>
                        </center>
                      </form>

                    {% else %}
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="form-control-label">heading</label>
                        <input type="text" required placeholder="enter name" name="heading" class="form-control">
                    </div>

                    <div class="form-group">
                      <label class="form-control-label">Description</label>
                      <input type="text" required placeholder="enter Description" name="description" class="form-control">
                  </div>


                    <div class="form-group">
                        <label class="form-control-label">Image</label>
                        <input type="file" placeholder="logo" name="logo" class="form-control">
                    </div>

                   
                
                    <center>
                    <div class="form-group">       
                      <input type="submit" value="ADD  ABOUT US ITEM " class="btn btn-primary">
                    </div>
                    </center>
                  </form>

                  {% endif %}
               
                </div>
              </div>
            </div>
                       
          </div>
        </div>
      </section>

{% endblock %}
