{% extends 'adminapp/admin_base.html' %}




{% block content %}
<div class="page-header no-margin-bottom">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Sold Projects List</h2>
    </div>
</div>

 <!-- Breadcrumb-->
 <div class="container-fluid">
    <ul class="breadcrumb">
      {% for i in messages %}
      <h4 style="color: green;">{{i}}</h4>
      {% endfor %}
    </ul>
  </div>

  <section class="no-padding-top">
    <div class="container-fluid">
      <div class="row">
        <!-- Basic Form-->
        <div class="col-lg-12">
          <div class="block">

            <table id="example" class="table table-responsive" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>email</th>
                        <th>Mobile</th>
                        <th>Project Name</th>
                        <th>Paid Amount</th>
                        <th>Payment ID</th>

                        <th>Signature Hash</th>
                       
                        <th>Date</th>
                        
                      
                    </tr>
                </thead>
                <tbody>

                  {% for i in sold_pro %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.user.username}}</td>
                        <td>{{i.user.email}}</td>
                        <td>{{i.student_account.mobile}}</td>
                        <td>{{i.project_name}}</td>
                        <td>{{i.paid_amount}}</td>
                        <td>{{i.payment_id}}</td>
                        <td>{{i.signature_hash}}</td>
                        <td>{{i.created_date}}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}


                

</html>